@model LoginViewModel

@{
    Layout = "../_Layout";
    ViewData["Title"] = "Login";
}
<div class="header-holder">
    <h1>Sign In</h1>
</div>

<div class="form">
    <form asp-controller="Account" asp-action="Login" method="post">
            
        @foreach (var error in Model.Errors)
        {
            <div class="form__errors">
                @error
            </div>
        }
        <input type="hidden" asp-for="ReturnUrl" />
            
        <div class="form__input-label">
            Username
        </div>
        <div class="form__input-holder">
            <input asp-for="Username" />
        </div>
            
        <div class="form__input-label">
            Password
        </div>
        <div class="form__input-holder">
            <input type="password" asp-for="Password" />
        </div>
        <div class="form__button-holder">
            <button type="submit">Sign In</button>
        </div>
        <div>
            <a asp-controller="Account" asp-action="Register" 
               asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
        </div>
    </form>

    <form asp-controller="External" asp-action="ExternalLogin" 
              asp-route-returnUrl="@Model.ReturnUrl" method="post">
        @foreach (var provider in Model.ExternalProviders)
        {
            <button name="provider"
                    type="submit"
                    value="@provider.Name"
                    class="external @provider.Name">
                @provider.Name
            </button>
        }
    </form>
</div>
